@import "tailwindcss" important;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

.cj-footer-logo-text {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
