* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.cj-footer-logo-text {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.contacsts-map-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
